# --- داده‌ها و محاسبات عددی ---
pandas>=2.0.0
numpy>=1.24.0

# --- بهینه‌سازی ریاضی (MILP) ---
pulp>=2.7.0

# --- داشبورد و بصری‌سازی ---
streamlit>=1.25.0

# --- رندر عکس و تولید گیف ---
# ** هشدار: این دو نسخه باید دقیقاً همین باشند **
# ** تا مشکل کِرَشِ مرورگر کروم رخ ندهد. **
plotly==5.24.1
kaleido==0.2.1
Pillow>=10.0.0

# --- تست‌های خودکار ---
pytest>=7.0.0
